<persistence xmlns:xsi="http://www.w3.org/2001/XMLSchemainstance" version="1.0" xmlns="http://java.sun.com/xml/ns/persistence">
<persistence-unit name="CarUnit" transaction-type="RESOURCE_LOCAL"> 
    <provider>
        org.eclipse.persistence.jpa.PersistenceProvider
    </provider>
    <class>com.troy.Car</class>
    <properties>
        <property name="eclipselink.jdbc.driver" value="com.mysql.jdbc.Driver"/>
        <property name="eclipselink.jdbc.url" value="jdbc:mysql://localhost:3306/troy"/>
        <property name="eclipselink.jdbc.user" value="root"/>
        <property name="eclipselink.jdbc.password" value="root"/>
    </properties>
</persistence-unit>
</persistence>